.image {
  display: block;
  margin: 0 auto;
  padding-top: 130px;
}

.search {
  display: block;
  margin: 0 auto;
  width: 500px;
  height: 35px;
  border-radius: 25px;
  border: 1px solid #d7d7c1;
  margin-top: 25px;
  font-size: 14px;
  text-indent: 20px;
}

.button {
  background-color: #F1F1F1;
  text-color: #E8E8E8;
  border: none;
  border-radius: 3px;
  height: 30px;
  width: 120px;
  margin: 11px 15px 0 auto;
}

body {
  position: relative;
  text-align: center;
}

ul {
  margin: 0;
  overflow: hidden;
  list-style-type: none;
  padding: 0;
  color: #5F6368;
  font-family: arial, sans-seriff;
  font-size: 13px;
}
li {
  float: left;
}

#header a{
  display: block;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
  color: #5F6368;
}

.signin {
  position: absolute;
  right: 30px;
  top: 7px;
  background-color: #4885ed;
  color: white;
  font-family: arial, sans-serif;
  border: 1px #4885ed;
  border-radius: 2px;
  padding: 7px 15px 7px 15px;
  font-size: 15px;
  font-weight: bold;
}

.container{
  min-height: 100%;
}

.footerright {
  position: fixed;
  right: 0;
  bottom: 0;
  background: #e3e3e3;
  padding-left: 1200px;
  padding-right: 30px;
}

.footerleft {
  position: fixed;
  left: 0;
  bottom: 0;
  background: #e3e3e3;
  padding-right: 1200px;
  padding-left: 30px;
}